<% content_for(:title, "#{@recipe.name} | Recipe Viewer") %>


<div class="row">
 <div class="large-12 columns">
  <h2><%= @recipe.name %></h2>
    <ul>
    <li><%= @recipe.ingredients %></li>
        <li><%= @recipe.steps %></li>
        <li><%= @recipe.stars %></li>

    </ul>

    <p><a href="/recipes">Back</a></p>
    <p><a href="/recipes/<%= @recipe.id %>/edit">Edit</a></p>
    <p>
      <a href="/recipes/<%= @recipe.id %>" data-confirm="Are you sure you would like to delete?" data-method="delete"rel="nofollow">Delete</a>
    </p>

 </div>
</div>
